body{
    background-color: seashell;
}
#title_container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
#links{
    display: flex;
    justify-content: center;
}
.link{
    text-decoration: none;
    margin: 0.2rem 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
    background-color:#008CBA;
    border: 1px solid #008CBA;
    color: white; 
    border-radius: 0.3rem;
}
.link:hover{
    color: #008CBA;
    background-color: rgba(0,0,0,0);
}
#table_container{
    margin-top:5rem;
}
table{
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td,th{
    padding:1rem;
    border: solid 2px lightgrey;
    overflow: hidden;
    width:5rem;
    text-align: center;
}

td{
    width:85%;
}